<% layout('/layouts/boilerplate') %>
  <style>
    #filters {
      display: flex;
      overflow-x: auto;
      /* Allow horizontal scrolling */
      padding: 10px;
      scroll-behavior: smooth;
      scrollbar-width: none;
    }

    #filters::-webkit-scrollbar {
      display: none;
      /* Hide scrollbar */
    }

    .filter {
      flex: 0 0 auto;
      /* Ensure items don't shrink or grow */
      width: 100px;
      margin-right: 15px;
      margin-top: 12px;
      border-radius: 10px;
      text-align: center;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
    }

    .filter i {
      font-size: 20px;
      margin-bottom: 10px;
      color: black;
    }

    .filter p {
      margin: 0;
      font-size: 14px;
      color: black;
    }

    .filter:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    /* Scroll buttons */
    .scroll-btn {
      position: absolute;
      top: 21%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 1000;
    }

    .scroll-btn i {
      opacity: .5;
      transition: color 0.3s ease;
      transform: scale(1.1);

    }

    .scroll-btn i:hover {
      opacity: 1;
      transition: color 0.3s ease;
      transform: scale(1.1);
    }

    .scroll-btn.left {
      left: 10px;
    }

    .scroll-btn.right {
      right: 10px;
    }
    .tax-toggler-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -2rem;
  }
    .tax-info {
      display: none;
    }

    .tax-toggle {
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.25rem;
      padding: 1rem;
      margin-left: 2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  </style>

  <body>
    <div class="scrollBar">
      <!-- Scroll Buttons -->
      <button class="scroll-btn left" onclick="leftScroll()">
        <i class="fas fa-angle-double-left"></i>
      </button>

      <div id="filters">

        <!-- TAGS -->


        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Trending" class="filter-link">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Surfing" class="filter-link">
            <div><i class="fa-solid fa-water"></i></div>
            <p>Surfing</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Amazing%20cities" class="filter-link">
            <div><i class="fa-solid fa-city"></i></div>
            <p>Amazing cities</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Beach" class="filter-link">
            <div><i class="fa-solid fa-umbrella"></i></div>
            <p>Beach</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Farms" class="filter-link">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Lake" class="filter-link">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Lake</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Castles" class="filter-link">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Rooms" class="filter-link">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Forest" class="filter-link">
            <div><i class="fa-solid fa-tree"></i></div>
            <p>Forest</p>
          </a>
        </div>

        <div class="filter">
          <a style="text-decoration: none;" href="/listing?tag=Pool" class="filter-link">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pool</p>
          </a>
        </div>

      </div>
      <button class="scroll-btn right" onclick="rightScroll()">
        <i class="fas fa-angle-double-right"></i>
      </button>
    </div>

    <!-- LISTINGS -->
    <br>
<div class="tax-toggler-container">
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
    </div>
    </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b> <br>

                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                  <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>

              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>

  </body>

  <!-- Scroll pannel -->
  <script>
    const filters = document.getElementById('filters');
    const leftButton = document.querySelector('.left');
    const rightButton = document.querySelector(".right");

    function scrollLeft() {
      filters.scrollBy({
        left: -200,  // Scroll left by 200px
        behavior: 'smooth'
      });
    }

    function scrollRight() {
      filters.scrollBy({
        left: 200,  // Scroll right by 200px
        behavior: 'smooth'
      });
    }

    leftButton.addEventListener('click', scrollLeft);
    rightButton.addEventListener('click', scrollRight);

  </script>

  <!-- Tax info -->
  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tax-info");
      for (info of taxInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    });
  </script>
